header{
    text-align:center;
    background: url("../img/nature2.jpg") ;
    background-size: cover;
    color: white;
}
header a{
    text-decoration:none;
    color: white;
}

img{
    width: 240px;
    margin: 50px 0px 0px 0px;
    border: 7px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
}
.rotatified {
    transform: rotate(270deg);
    }
    ul{
        padding: 10px;
        background: #0f0;
    }
    li{
        display: inline;
        padding: 0px 10px 0px 10px;
    }
    h1{
        font-size:68px;
    }
    a{
        color: rgba(255, 255, 255, 1);
    }
    article{
        max-width: 500px;
        padding: 20px;
        margin: 0 auto;
    }
    @media (max-width: 500px){
        h1{
            font-size: 36px;
        }
        li{
            display: block;
            padding: 5px;
        }
    }